{{#each allProducts}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.image_url}}" alt="{{this.name}}">
  <div class="card-body">

    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <h5>${{this.price}}</h5>
    <a href="#" class="btn btn-primary add-to-cart" data-price={{this.price}} data-pid="{{this.id}}">Add to Cart</a>

  </div>
</div>
{{/each}}

<br>
<br>
<a href="/orders" class="btn btn-primary" id="checkout-btn">Checkout</a>



<script>
  const btnAll = document.querySelectorAll('.add-to-cart');
  for (var btn of btnAll) {
    btn.addEventListener('click', async function (event) {
      event.preventDefault();
      console.log('adding product id to card: ', event.target.dataset.pid,event.target.dataset.price);
      // TODO: 
      const res = await fetch('/api/cart', {
        method:'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({pid: event.target.dataset.pid, quantity: 1, price: event.target.dataset.price})
      });
      const data = res.json();
      console.log(data);
    });
  }
</script>